name: CI - Build (frontend)

on:
  push:

jobs:
  build-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: |
          cd front_end/web
          npm install

      - name: Build project
        run: |
          cd front_end/web
          npm run build
