name: CI - Cypress (frontend)

on:
  push:

jobs:
  cypress-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install frontend deps
        run: |
          cd front_end
          npm install

      - name: Install Cypress
        run: |
          cd front_end
          npx cypress install

      - name: Run Cypress tests
        run: |
          cd front_end
          npx cypress run
